@import "node_modules/bulma/sass/utilities/initial-variables";
$blue: #1063A7;
$white: #fff;
$primary: $blue;
$primary-invert: $white;
$label-color: $white;

.logo-visualworks img {
    max-width: 100%;
    width: 320px;
}

.hero-foot {
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
}

@import "node_modules/bulma/bulma";