$fa-font-path: "/fonts";
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

@import "node_modules/bulma/sass/utilities/initial-variables";

$blue: #1063A7;
$primary: $blue;
$primary-invert: $white;
$navbar-item-color: $white;

.navbar h1.logo {
    font-family: all-round-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase;
}

.navbar {
    margin-bottom: 3rem;
}

//.navbar-item, .navbar-link {
//    color: $blue !important;
//}

@import "node_modules/bulma/bulma";
@import url("https://use.typekit.net/yzv1emk.css");