$fa-font-path: "/fonts";
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

@import "node_modules/bulma/sass/utilities/initial-variables";

$blue: #1063A7;
$white: #fff;
$primary: $blue;
$primary-invert: $white;
$label-color: $white;

body {
    background-color: $primary;
}

.navbar h1.logo {
    font-family: all-round-gothic, sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform: lowercase;
}

.navbar {
    margin-bottom: 3rem;
}

img.paypal {
    height: auto;
    width: 180px;
    max-width: 180px;
}

.hero-foot {
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
}

@import "node_modules/bulma/bulma";
@import url("https://use.typekit.net/yzv1emk.css");