$fa-font-path: "/fonts";
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

@import "node_modules/bulma/sass/utilities/initial-variables";

$blue: #1063A7;
$primary: $blue;
$primary-invert: $white;
$navbar-item-color: $white;

.navbar h1.logo {
    font-family: all-round-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase;
}

.bg-hero-computing {
    background-image: url("../img/bg-hero-computing@2x.png");
    background-size: cover;
    background-position: center right;
}

.banner-row .column .image {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 256px;
}
@import "node_modules/bulma/bulma";
@import url("https://use.typekit.net/yzv1emk.css");